<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Class.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>DataType.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FirstMacOSApplication.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>FlowControl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>FollowMe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Function.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>OtherTheme.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>ProtocolAndExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>SwiftCalculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6E7AAACD1E8E343E00EE23AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E7AAB1C1E8F953700EE23AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E7AAB2C1E8F953800EE23AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E7AAB371E8F953800EE23AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E7AAB4F1E92032100EE23AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E7AAB621E92032100EE23AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E7AAB6D1E92032100EE23AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E7AAB871E94B88F00EE23AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E7AAB921E94E0FE00EE23AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EE4C75C1E7BC7A50079F224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EE4C76A1E7BCEDE0079F224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EE4C7821E7BCEDE0079F224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EE4C78D1E7BCEDE0079F224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EE4C7A11E7BCF260079F224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EE4C7B41E7BCF260079F224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EE4C7BF1E7BCF260079F224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EE4C7D71E7F5FC20079F224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EE4C7EF1E7F5FC30079F224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EE4C7FA1E7F5FC30079F224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EE4C80E1E7F5FFE0079F224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EE4C8191E7F60730079F224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EE4C8241E7F7F960079F224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EE4C8371E7F7F960079F224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EE4C8421E7F7F960079F224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EE4C8561E7F82320079F224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EE4C8611E7FA4D70079F224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
